body {
    background-color: black;
}
#gameCanvas {
    background-color: black;
    width: 640px;
    height: 360px;
    margin: auto;
}
#scoreboard {
    text-align: center;
    font-family: Segoe UI, Helvetica, Ubuntu, sans-serif;
    color: white;
}
#scores {
    font-size:600%; 
    padding:0; 
    margin:0;
    color: white;
}
#title {
    background-color: white;
    color: black;
}
#help{
    color: white;
    position: fixed;
    top:15%;
    left: 90%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}